.questions-container {
    border: 1px solid blue;
    background-color: whitesmoke;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.hero-icon {
    height: 40px;
    width: 40px;
    color: blue;
}

.details-option {
    display: flex;
    justify-content: space-between;
}

.hero-button {
    border: none;
}