.button {
    height: 40px;
    width: 180px;
}

.topics-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color {
    background-color: antiquewhite;
}

.container {
    margin-bottom: 30px;
}