.link a {
    text-decoration: none;
    margin-left: 10px;
}

.link {
    margin-right: 20px;
}

.quiz-name {
    color: blueviolet;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 5px 10px white;
}