.btn-container {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.buttons:hover {
    background-color: blueviolet;
}

.buttons {
    height: 100px;
    width: 300px;
    border-radius: 5px;
}

.radio-button {
    font-size: 3rem;
}